 <%@orders.each do |order|%>
   <div data-equalizer class="cart-movie large-12 column mb1">
    <div class="column large-2 primary-bg text-center radius-l1 " data-equalizer-watch>
      <%=link_to  order do%>
       <h6 class="cale fi-shopping-cart"> <%= "Номер заказа: #{order.id}" %> </h6>
      <%end%>
    </div>
    <div class="column large-7 glassy-bg text-center" data-equalizer-watch>
        <p class=" ptm"> <%="Сформирован на имя #{order.name}, придет по адрессу #{order.address}. Дата создания заказа #{order.created_at}"%> </p>
    </div>
    <div class="column large-3 primary-bg text-center radius-r1" data-equalizer-watch>
      <%=link_to ""  do%>
        <i class=" right"></i>
      <%end%>
      <h6 class="scale ca">  <%=  "Total price: " + number_to_currency(total_orders(order)) %></h6>
    </div>
   </div>
  
  <%end%>