
  <fieldset>
   <legend>Enter the details for ordering</legend>
   <%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
       <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
       </ul>
     </div>
    <% end %>

   <div class="field">
      <%= f.label :name %><br>&nbsp
      <%= f.text_field :name, size: 40  %>
    </div>
    <div class="field">
      <%= f.label :address %><br>&nbsp
      <%= f.text_area :address, rows:3, cols:40  %>
    </div>
    <div class="field">
      <%= f.label :email %><br>&nbsp
      <%= f.text_field :email, size: 40 %>
    </div>
    <div class="field button-group">
      <%= f.label :pay_type %><br>&nbsp
      <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
    </div>
    <div class="row"> 
      <div class="large-6 large-offset-4 small-2 columns", type="submit">
        <%= f.submit 'Place Order', class: "sub radius small button"  %>
      </div>
    </div>
   <% end %>
  </fieldset>   

