<div id="mycart" class="small-10 small-centered medium-8 large-8 column">
  
  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h4><%="My Orders" %></h4>
  </div>
  
  <%=  render "orders/allorder" %>

 

</div>