<div id="mycart" class="small-10 small-centered medium-8 large-8 column">
  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h4>to buy movies</h4>
    <p class="mb0"> You've selected <span class="cart-count"><%=current_user.cart_count%></span> movies!</p>
  </div>

  <%=  render "carts/showcart" %>
  <div class="depot_form">

        <%= render 'form' %>

  </div>
  <div class="row">
      <div class="large-5 columns"></div>
      <div class="large-3   small-3  columns">
        <%=link_to 'back', cart_path, method: :get, class: "radius tiny button "%>
      </div>
    </div>
</div>
