<div id="mycart" class="small-10 small-centered medium-8 large-8 column">

  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h4><%="Order: N-#{@order.id}. Сформирован на имя #{@order.name}, придет по адрессу #{@order.address}. Дата создания заказа #{@order.created_at}"%></h4>
    
  </div>
  
  <%=  render "orders/showorder" %>

  <div class="row">
  	<div class="order large-4 left small-2  columns mlm" >
       	<h7 class="scale"  > <%=  link_to "DELETE Order: N-#{@order.id}", @order, method: :delete, data: { confirm: "You sure?" }, title: "Order: N-#{@order.id}", class: " radius tiny button mlm "  %> </h7>
    </div>
   	<div class="order large-4  small-2  columns mrm"> 
    	<%=link_to 'PAY for your order', '#' , method: :get, class: "radius  button mrm "%>
  	</div>
    
  </div>
	
</div>