
 
  <% @cart_movies.each do |movie|%>

  <div data-equalizer class="cart-movie large-12 column mb1">
    <div class="column large-2 text-center p0" data-equalizer-watch>
      <%=link_to movie do%>
        <%=image_tag movie.poster, class: "radius-l1"%>
      <%end%>
    </div>
    <div class="column large-7 glassy-bg text-center" data-equalizer-watch>
        <p class="scale ptm"> <%= movie.title %> </p>
    </div>
    <div class="column large-3 primary-bg text-center radius-r1" data-equalizer-watch>
      <%=link_to "" , data: {targetUrl: remove_from_cart_path(movie)}, remote: true do%>
        <i class="fi-x right"></i>
      <%end%>
      <h4 class="scale"> <%= number_to_currency(movie.price) %></h4>
    </div>
  </div>
  <%end%>
  <div class="row">
    <div class="large-3 mr1 right  small-3  columns primary-bg  radius-box" >
        <h7 id="total" class="scale"  > <%=  "Total price: " + number_to_currency(total) %> </h7>
    </div>
  </div>