 <div id="mycart" class="small-10 small-centered medium-8 large-8 column">
  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h4>My Cart</h4>
    <p class="mb0"> You've selected <span class="cart-count"><%=current_user.cart_count%></span> movies!</p>
  </div>
  
  <%=  render "carts/showcart" %>

  <%= hidden_div_if(current_user.cart_count<=0, id: 'current_item') do %>
    
  	<div class="order large-3 right small-2  columns">
    	<%=link_to 'checkout', new_order_path , method: :get, class: " radius tiny button "%>
  	</div>
  
  <%end%>
   
    
</div>