// Custom layout styles
// Default font family



@font-face {
  font-family: 'gotham-rounded';
  src: url(gotham-rounded-medium.otf);
}

//Body background
body {
  background-image: url(body_bg.png);
  background-position: center;
  color: #fff;
}

.brd {
    border: 4px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
   }

.top-bar-section li a:not(.button):hover {
    border-radius:2px;

}

.columns{
    margin-top: 0rem;
    margin-botton: 0rem;
}

#current_item{
  
    display: inline;
}
#current_order{
  
    display: inline;
}

// Logo
.title-area{
  a { padding:0 !important }
  i { 
    font-size: 30px;
    position: relative;
    top: 2px;
  }
}
// Topbar items
.top-bar-section ul li { background: transparent }
// Forms
.form-container {
  padding: 3% 3%;
  .switch > div {
    position: relative;
    top: -5px;
  }
}

.order {
  top: 15px;
}

