// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mycart {
  .scale {
    position: relative;
    top: 35%;
    transform: translateY(-35%);

  }
  .ca {
      color: #512167;
    }
  .cale {
    position: relative;
    top: 35%;
    transform: translateY( 25%);
    color: #512167;
  }
  .fi-x {
    position: relative;
    top: 10px;
    right: -5px;
  }
}

.depot_form {
  fieldset {
    
    legend {
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }

  form {
    label {
      color: #B4886B;      
      float: left;
      text-align: right;
      padding-top: 0.3em;
      margin-left: 0.4em;
      display: block;

    }
    
    select  {
      border-radius: 0;
      background: #fff;
      margin-left: 0.6em;
      height: 34px;
      padding: 5px;
      border: 1;
      font-size: 13px;
      line-height: 1;
      -webkit-appearance: none;
      -webkit-user-select: auto;
      width: 218px;
      overflow: hidden;
      border: 1px solid #ccc;
      & textarea, input{
        font-family: monospace;
        margin-left: 0.5em;
      }
    } 

    select{
       
    }

    .sub {

      font-size: 12px;
    }

    br {
      display: none
    }
  }
}