<div class="row">
  <nav class="top-bar column" data-topbar>

    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            <i class="fi-play-video"></i> MovieStore
          </a>
        </h1>
      </li>
      <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-form">
       <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input type="text" class="radius expand" placeholder="Find Movie">
        </div>
        <div class="large-4 small-3 columns ">
         <a href="#" class="nice  radius small button columns">Search</a>
        </div>
       </div>
      </li>
    </ul>

      <!-- Right Nav Section -->
    <ul class="right">
     <%if signed_in?%>
       <%= hidden_div_if(current_user.cart_count<=0, id: 'current_item') do %>
         <%= link_to cart_path do%>
             <i class="fi-shopping-cart "></i> My Cart (<span class="cart-count"><%=current_user.cart_count%></span>)
          <%end%>
       <%end%>
       <%= hidden_div_if(current_user.ordercount<=0, id: 'current_order') do %>
        <%=link_to "My orders: #{current_user.ordercount}", orders_path%> 
       <%end%>
       <li><%=link_to current_user.email, edit_user_registration_path%></li>
       <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
     <%else%>
       <li><%=link_to "Register", new_user_registration_path%></li>
       <li><%=link_to "Login", new_user_session_path%></li>
     <%end%>
    </ul>

   

    </section>

  </nav>
</div>